body {
  /* font-family: "Mazzard"; */
  font-family: "Roboto", sans-serif;
  background: url("./assets/background/circle.png") 100% 50% no-repeat,
    radial-gradient(
      100% 100% at 80% 80%,
      rgba(255, 255, 255, 0.07) 0%,
      rgba(196, 196, 196, 0) 100%
    ),
    radial-gradient(
      50% 50% at 10% 10%,
      rgba(255, 255, 255, 0.07) 0%,
      rgba(196, 196, 196, 0) 100%
    ),
    radial-gradient(
      50% 100% at 30% 50%,
      rgba(0, 65, 218, 0.115) 0%,
      rgba(196, 196, 196, 0) 100%
    ),
    black;
}
@mixin text($fw, $fs, $lh) {
  font-style: normal;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}
.layout {
  z-index: -1;
  margin: 192px 135px 0 135px;
  color: #ffffff;
  @media (max-width: 1000px) {
    margin: 37px 28px 0 28px;
  }

  /* background: linear-gradient(
    180deg,
    rgba(0, 65, 218, 0.115) 0%,
    rgba(40, 0, 153, 0.115) 91.72%
  ); */
  /* filter: blur(100px); */
}

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  padding: 22px 135px;
  backdrop-filter: blur(12.6195px);

  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f3f3f3;
  @media (max-width: 1000px) {
    padding: 37px 28px;
  }
  &Sidebar {
    cursor: pointer;
    width: 32px;
    @media (min-width: 1001px) {
      display: none;
    }
  }
  &C {
    @include text(500, 25px, 30px);
  }
  & > div:nth-child(2) {
    @media (max-width: 1000px) {
      display: none;
    }
  }
  &Link {
    @include text(400, 18px, 21px);
    color: #f3f3f3;
    text-decoration: none;
    margin-right: 30px;

    &:hover {
      text-decoration: underline;
    }
  }
  &Button {
    display: inline-block;
    padding: 16px 40px;
    background: linear-gradient(140.6deg, #ffffff -27.18%, #dedede 126.06%);
    box-shadow: 0px 0px 49px rgba(42, 7, 254, 0.4);
    border-radius: 10px;
    cursor: pointer;
    span {
      @include text(600, 20px, 24px);
      margin-right: 14px;
    }
    transition-duration: 1s;
    &:hover {
      background: linear-gradient(140.6deg, #3e6ff9 -27.18%, #3e53f8 126.06%);
      box-shadow: 0px 0px 49px rgba(42, 7, 254, 0.4);
      color: #dedede;
    }
  }
}

.banner {
  position: relative;
  &Background {
    z-index: -1;
    position: absolute;
    top: -102px;
    left: -135px;
    bottom: -600px; //!
    right: -135px;
    background: url("./assets/background/bannerBackground.png") 0 0/100% auto
      no-repeat;
    @media (max-width: 1000px) {
      right: 0;
      left: 0;
      background-size: cover;
    }
  }

  &Road {
    background: url("./assets/background/bannerRoad.png") 0 0/100% auto
      no-repeat;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 1;
    bottom: 0; //!
    right: -135px;
    @media (max-width: 1440px) {
      width: 500px;
    }
    @media (max-width: 1250px) {
      display: none;
    }
    @media (max-width: 390px) {
      display: block;
      width: 350px;
      height: 350px;
      top: 82%;
      left: 0px;
      right: 0;
      bottom: 0px;
    }
  }

  &Text {
    @media (max-width: 1000px) {
      text-align: center;
    }
    margin-top: 102px;
    display: grid;
    gap: 30px 0px;
  }

  &Subtitle {
    @include text(500, 20px, 23px);
    text-transform: uppercase;
    color: #aaaaaa;
  }

  &Title {
    max-width: 800px;
    @include text(600, 100px, 90px);
    text-shadow: 0px 5.14068px 5.14068px rgba(0, 0, 0, 0.25);
    @media (max-width: 1000px) {
      font-size: 60px;
      line-height: 61px;
    }
    @media (max-width: 500px) {
      font-size: 45px;
      line-height: 61px;
    }
  }
  &Gradient {
    white-space: nowrap;
    background: linear-gradient(
      89.95deg,
      #487fff -1.65%,
      #73b5ff 51.06%,
      #cb76ff 99.96%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    text-shadow: 0px 5.14068px 5.14068px rgba(0, 0, 0, 0.25);
  }

  &Description {
    margin-top: 10px;
    @include text(400, 26px, 30px);
    color: #e9e9e9;
    @media (max-width: 390px) {
      @include text(500, 18px, 140%);
      text-align: center;
    }
  }

  &Button {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: linear-gradient(140.6deg, #3e6ff9 -27.18%, #3e53f8 126.06%);
    box-shadow: 0px 0px 49px rgba(42, 7, 254, 0.4);
    border-radius: 10px;
    padding: 15px 20px 15px 30px;
    color: #ffffff;
    @include text(500, 18px, 21px);
    transition-duration: 1s;
    border: none;
    &:hover {
      background: rgba(81, 58, 210, 0.4);
      color: #3e53f8;
    }
    &ArrowDown {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 40px;
      border-radius: 50%;
      width: 34px;
      height: 34px;
      background-color: #ffffff;
    }
  }

  &Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 102px;
    @media (max-width: 390px) {
      padding-bottom: 105px;
    }

    & > img {
      margin-top: 120px;
      @media (max-width: 1200px) {
        display: none;
      }
    }
  }
}

.about {
  margin-top: 140px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 110px;
  position: relative;
  @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &Title {
    text-align: center;
    grid-column: 1/3;
    & > p {
      @include text(500, 15px, 18px);
      text-align: center;
      text-transform: uppercase;
      color: #aaaaaa;
      margin-bottom: 15px;

      text-align: center;
      text-transform: uppercase;
    }
    & > h2 {
      @include text(500, 40px, 120%);
      letter-spacing: 0.02em;
      font-feature-settings: "pnum" on, "lnum" on;
      padding-bottom: 100px;
      @media (max-width: 390px) {
        @include text(600, 44px, 48px);
        padding-bottom: 50px;
      }
    }
  }

  &Stats {
    background: url("./assets/images/stats.png") 0 0 / contain no-repeat;
    height: 500px;
    width: 500px;
    @media (max-width: 600px) {
      height: 300px;
      width: 300px;
    }
  }

  &Description {
    margin-top: 50px;
    margin-left: 120px;
    @media (max-width: 1200px) {
      margin-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      // text-align: center;
      // margin-left: 0;
      // margin-right: 0;
    }
    & > p {
      @include text(600, 30px, 43px);
    }
    & li {
      @include text(400, 18px, 21px);
      position: relative;
      color: #e9e9e9;
      margin: 25px 150px 25px 40px;
      @media (max-width: 1200px) {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
      }
      @media (max-width: 390px) {
        margin: 25px 0px 25px 28px;
      }
      &:before {
        content: "\23F5";
        font-size: 30px;
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: -40px;
        color: #0a6fff;
      }
      &:nth-child(2):before {
        color: #ff2b77;
      }
    }
  }
  &Button {
    margin-top: 20px;
    @include text(500, 18px, 21px);
    cursor: pointer;
    background: linear-gradient(140.6deg, #3e6ff9 -27.18%, #3e53f8 126.06%);

    box-shadow: 0px 0px 49px rgba(42, 7, 254, 0.4);
    border-radius: 10px;
    padding: 20px 60px;
    color: #ffffff;
    transition-duration: 1s;
    &:hover {
      border: none;
      background: rgba(81, 58, 210, 0.4);
      color: #3e53f8;
    }
  }
}

$columnGap: 50px;
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  column-gap: $columnGap;
  @media (max-width: 1200px) {
    display: grid;
    grid-row-gap: $columnGap;
  }

  // position: relative;
  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // row-gap: 50px;
  }

  & button {
    cursor: pointer;
    @include text(400, 16px, 130%);
    text-align: center;
    font-feature-settings: "pnum" on, "lnum" on;
    border: solid rgba(255, 255, 255, 0.4) 0.9px;
    color: #ffffff;
    width: 160px;
    height: 50px;
    box-sizing: border-box;
    background: #000000;
    border-radius: 11px;
    @media (max-width: 1000px) {
      @include text(400, 14px, 130%);
    }
  }

  &Description {
    display: grid;
    row-gap: 30px;
    max-width: 300px;
    @media (max-width: 1200px) {
      grid-row: 1/3;
      grid-column: 1/4;
      margin-left: auto;
      margin-right: auto;
    }
    @media (max-width: 1000px) {
      order: -1;
    }

    & > h2 {
      @include text(500, 40px, 120%);
      letter-spacing: 0.02em;
      font-feature-settings: "pnum" on, "lnum" on;
      color: #ffffff;

      & > span:first-child {
        @include text(500, 40px, 120%);
        letter-spacing: 0.02em;
        font-feature-settings: "pnum" on, "lnum" on;
        color: #aaaaaa;
      }

      & > span:last-child {
        @include text(500, 40px, 120%);
        letter-spacing: 0.02em;
        font-feature-settings: "pnum" on, "lnum" on;
        background: linear-gradient(
          89.95deg,
          #487fff -1.65%,
          #73b5ff 51.06%,
          #cb76ff 99.96%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }

    & > p {
      @include text(400, 18px, 150%);
      letter-spacing: 0.01em;
      font-feature-settings: "pnum" on, "lnum" on;
      opacity: 0.8;
    }

    & > a {
      @include text(400, 15px, 150%);
      letter-spacing: 0.01em;
      font-feature-settings: "pnum" on, "lnum" on;
      color: #7b93ff;
      text-decoration: none;
    }
  }

  &Networks {
    align-self: flex-end;

    padding: 40px 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;

    background: radial-gradient(
      100% 100% at 0% 0%,
      rgba(48, 48, 48, 0.15) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    box-shadow: inset -4.50695px -4.50695px 225.348px rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(12.6195px);
    border: solid rgba(255, 255, 255, 0.4) 1px;
    border-radius: 25.2389px;

    & > button {
      position: relative;
      &::after {
        content: "";
        border: solid rgba(255, 255, 255, 0.4) 0.9px;
        bottom: 50%;
        position: absolute;
        left: 100%;
        right: -28px;
        opacity: 0.8;
      }
      &:nth-child(2):before {
        content: "";
        border: solid rgba(255, 255, 255, 0.4) 0.9px;
        top: -27px;
        bottom: -17px;
        position: absolute;
        right: calc(-28px + $columnGap / -2 + -2px);
        opacity: 0.8;
      }
      &:nth-child(2):after {
        right: calc(-28px + $columnGap / -2);
      }
    }
    @media (max-width: 1000px) {
      align-self: auto;
      padding: 0;
      flex-direction: row;
      align-items: end;
      width: auto;
      position: relative;
      width: 334px;
      height: 180px;
      & > button {
        height: 58px;
        &:nth-child(1) {
          box-sizing: border-box;
          position: absolute;
          width: 130px;
          height: 58px;
          left: 20px;
          top: 98px;
          &::after {
            @media (max-width: 1000px) {
              bottom: -25px;
              left: 50%;
              right: 50%;
              height: 22px;
            }
          }
        }
        &:nth-child(2) {
          box-sizing: border-box;
          position: absolute;
          width: 130px;
          height: 58px;
          left: 184px;
          top: 98px;

          order: 2;
          &::after {
            @media (max-width: 1000px) {
              bottom: -25px;
              left: 50%;
              right: 50%;
              height: 22px;
            }
          }
          &:before {
            @media (max-width: 1000px) {
              display: none;
            }
          }
        }
        &:nth-child(3) {
          box-sizing: border-box;
          position: absolute;
          width: 160px;
          height: 58px;
          left: 87px;
          top: 20px;
          &::after {
            @media (max-width: 1000px) {
              bottom: -143px;
              left: 50%;
              right: 50%;
              height: 140px;
            }
          }
          &:before {
            @media (max-width: 1000px) {
              content: "";
              position: absolute;
              border: solid rgba(255, 255, 255, 0.4) 0.9px;
              top: 198px;
              left: 1px;
              right: -1px;

              opacity: 0.8;
            }
          }
        }
      }
    }
  }

  &Buttons {
    display: grid;
    row-gap: 30px;
    margin-top: 190px;
    @media (max-width: 1000px) {
      margin-top: 20px;
      display: flex;
      align-items: center;
    }
    & > button {
      position: relative;

      &::before {
        content: "";
        border: solid rgba(255, 255, 255, 0.4) 0.9px;
        bottom: 50%;
        position: absolute;
        left: calc($columnGap / -2);
        right: 100%;
        opacity: 0.8;
      }

      &::after {
        z-index: 1;
        content: "";
        border: solid rgba(255, 255, 255, 0.4) 0.9px;
        bottom: 50%;
        position: absolute;
        left: 100%;
        right: -102px;
        opacity: 0.8;
      }
      &:last-child {
        height: 70px;
      }
      @media (max-width: 1000px) {
        margin: 0 20px;
        width: 150px;
        height: 58px !important;
        &::before {
          display: none;
        }
        &:first-child::after {
          z-index: -1;
          top: -33px;
          bottom: -52px;
          left: 60%;
          right: 40%;
        }
        &:last-child::after {
          z-index: -1;
          top: -33px;
          bottom: -52px;
          left: 40%;
          right: 60%;
        }
      }
    }
  }

  &Personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    background: radial-gradient(
      100% 100% at 0% 0%,
      rgba(48, 48, 48, 0.15) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    box-shadow: inset -4.50695px -4.50695px 225.348px rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(12.6195px);
    border: solid rgba(255, 255, 255, 0.4) 1px;
    border-radius: 25.2389px;
    padding: 30px 50px 80px 50px;
    & > p {
      max-width: 160px;
      @include text(400, 14.5px, 138%);
      text-align: center;
      font-feature-settings: "pnum" on, "lnum" on;
    }
    @media (max-width: 1000px) {
      padding: 0;
      width: 334px;
      height: 276px;
      & > button {
        box-sizing: border-box;
        position: absolute;
        width: 130px;
        height: 58px;
        left: 20px;
        top: 24px;
        &:after {
          content: "";
          z-index: 1;
          position: absolute;
          top: -25px;
          bottom: 57px;
          left: calc(50% + 2px);
          right: 50%;
          border: solid rgba(255, 255, 255, 0.4) 0.9px;

          opacity: 0.8;
        }
        &:last-of-type {
          box-sizing: border-box;
          position: absolute;
          width: 130px;
          height: 58px;
          left: 184px;
          top: 24px;
          &:after {
            left: calc(50% - 2px);
          }
        }
      }
      & > img {
        position: absolute;
        left: calc(332 / 2);
        top: 103px;
      }
      & > p {
        position: absolute;
        left: 50px;
        bottom: 59px;
        max-width: 227px !important;
        height: 60px !important;
      }
    }
  }

  &Arrow {
    position: absolute;
    left: calc(50% - 40px);
    bottom: -75px;
    @media (max-width: 1000px) {
      bottom: -105px;
    }
    & > div > span {
      position: absolute;
      height: 80px;
      border: solid rgba(255, 255, 255, 0.4) 0.9px;
      @media (max-width: 1000px) {
        height: 50px;
      }
      &:nth-child(1) {
        top: -105px;
        left: calc(50% - 15px);
        &::before {
          content: "";
          border: solid rgba(177, 178, 186, 1);
          border-width: 0 1.7px 1.7px 0;
          display: inline-block;
          padding: 3px;
          position: absolute;
          bottom: -5px;
          left: -3.5px;
          transform: rotate(45deg);
        }
      }
      &:nth-child(2) {
        top: -100px;
        left: calc(50% + 15px);
        &::before {
          content: "";
          border: solid rgba(177, 178, 186, 1);
          border-width: 0 1.7px 1.7px 0;
          display: inline-block;
          padding: 3px;
          position: absolute;
          top: -5px;
          left: -3.5px;
          transform: rotate(-135deg);
        }
      }
    }

    & > span {
      @include text(400, 16px, 170%);
      font-feature-settings: "pnum" on, "lnum" on;
    }
  }
}

.cards {
  margin: 250px 0 150px 0;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: 400px 400px;
  gap: 35px;
  @media (max-width: 1400px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px;
  }
  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    margin: 150px 0 50px 0;
  }
  & > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;

    border: 4px solid rgba(66, 69, 73, 1);
    box-sizing: border-box;
    background: #0a0a0d;
    background: radial-gradient(
        100% 100% at 90% 90%,
        rgba(255, 255, 255, 0.07) 0%,
        rgba(196, 196, 196, 0) 100%
      ),
      radial-gradient(
        50% 50% at 10% 10%,
        rgba(255, 255, 255, 0.07) 0%,
        rgba(196, 196, 196, 0) 100%
      );

    border-radius: 46px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.35);

    @media (max-width: 1000px) {
      min-height: 500px;
    }

    will-change: transform;
    transition: transform 0.5s ease 0s;

    &:hover {
      transform: perspective(800px) rotateY(5deg) scale(0.95) rotateX(5deg);
    }

    & p {
      @include text(500, 15px, 18px);
      text-transform: uppercase;
      color: #aaaaaa;
    }
    & h3 {
      & > span {
        @include text(500, 40px, 120%);
        letter-spacing: 0.02em;
        font-feature-settings: "pnum" on, "lnum" on;
        background: linear-gradient(
          89.95deg,
          #487fff -1.65%,
          #73b5ff 51.06%,
          #cb76ff 99.96%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
      @include text(400, 40px, 120%);
      letter-spacing: 0.02em;
      font-feature-settings: "pnum" on, "lnum" on;
      @media (max-width: 390px) {
        font-size: 30px;
        line-height: 43px;
      }
    }
    & a {
      text-decoration: none;
      @include text(400, 15px, 18px);
      color: #aaaaaa;
    }
    &:first-child {
      overflow: hidden;
      padding: 0;
      position: relative;
      grid-row: 1/3;
      @media (max-width: 1400px) {
        grid-row: initial;
        grid-column: initial;
      }
      & > div {
        // display: flex;
        // flex-direction: column;
        // justify-content: space-around;
        // position: absolute;
        // top: 30px;
        // bottom: 30px;
        // left: 0;
        // right: 0;
        padding: 0 30px 30px 30px;
        margin-top: 80%;
        height: 100%;

        @media (max-width: 1500px) {
          margin-top: 100%;
        }
        @media (max-width: 1400px) {
          margin-top: 30px;
        }
      }

      & img {
        border-radius: 46px 46px 0 0;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }
    }
    &:last-child {
      grid-column: 2/4;
      position: relative;
      overflow: hidden;
      @media (max-width: 1400px) {
        grid-row: initial;
        grid-column: initial;
      }
      & > img {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 0px 46px 0 0;
        @media (max-width: 390px) {
          left: 70px;
        }
      }
      & > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        @media (max-width: 1500px) {
          margin-right: 50%;
        }
      }
    }
  }
}
