/* @font-face {
  font-family: "Mazzard";
  font-weight: 400;
  src: local("Mazzard"),
    url("%PUBLIC_URL%/static/fonts/MazzardH-Regular.woff") format("woff");
}
@font-face {
  font-family: "Mazzard";
  font-weight: 500;
  src: local("Mazzard"),
    url("%PUBLIC_URL%/static/fonts/MazzardH-Medium.woff") format("woff");
}
@font-face {
  font-family: "Mazzard";
  font-weight: 600;
  src: local("Mazzard"),
    url("%PUBLIC_URL%/static/fonts/MazzardH-SemiBold.woff") format("woff");
} */
